* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 1em;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: blue;
    position: fixed:
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    height: 280px;
    width: 100%; /* ISSO DEIXA O CONTAINER RESPONSIVO */
    max-width: 500px;
    transition: 0.2s;
    margin-inline: 20px; /* ISSO RESOLVA O PROBLEMA QUE MENCIONEI LÁ NO LINKEDIN*/
}

.container.active {
    height: 500px;
}

#qr-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#qr-header h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

#qr-header p {
    color: #444;
}

.container #qr-form {
    margin: 20px 15px;
}

#qr-form input,
#qr-form button {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    outline: none;
}

#qr-form input {
    border: 1px solid #777;
    padding: 10px 15px;
}

#qr-form input:focus {
    border: 2px solid black; /* PERMITE QUE O IMPUT SEJA ACESSIVEL PELA TECLA TAB */
    transition: 0.4s;
}

#qr-form button {
    background-color: black;
    margin-top: 20px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;
}

#qr-form button:hover {
    opacity: 1;
}

#qr-form button:focus {
    border: 2px solid blue;/* PERMITE QUE O BOTÃO SEJA ACESSIVEL PELA TECLA TAB */
    transition: 0.4s;
}

#qr-form #download-link {
    text-decoration: none;
    background-color: #086824;
    margin-top: 20px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;
}

.container #qr-code {
    display: flex;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #ccc;
    padding: 30px 0;
    margin: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container.active #qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}

.container #qr-code img {
    width: 100%;
    max-width: 150px;
    height: 150px;
}
